/**{border:1px solid black;}*/
body {
	font-family: "Raleway", Arial;
	position: relative;
}
h1 {
	text-align: center;
}

.container {
	margin: 0;
	padding: 0 0 80px 0;
	
	width: 100%;
	height: 100%;
}
#timetableCont {
	text-align: center;
	/*border: 1px solid black;*/
}
.anotherContainer {
	/*border: 1px solid black;*/
	text-align: center;
	width: 80v2;
}
.timetable {
	margin: auto;
	
	width: 80vw;
	/*height: 80vh;*/
	
	display: grid;
	grid-template-columns: 1fr repeat(5, 2fr);
}
.box {
	padding: 10px;
	box-sizing: border-box;
	
	background: lightgrey;
	height: 100px;
	
	text-align: left;
	overflow: auto;
	
	border: 3px solid grey;
	border-radius: 10px;
	box-shadow: 0px 0px 6px grey;
}
.box:first-child {
	height: 50px;
	font-weight: bold;
}
.box.break {
	height: 60px;
}
.box[data-span="2"] {
	height: 200px;
}
.box[data-span="3"] {
	height: 300px;
}

.current {
	background: #FEF23E;
}

#settings {
	margin: 15px;
	
	width: 220px;
	height: 80vh;
	text-align: center;
	float: left;
	background: red;
	
	border-radius: 0 20px 20px 0;
	background: #BBB;
	
	position: relative;
	right: 243px;
	transition-duration: 0.5s;
}
#settings.open {
	width: 220px;
	right: 23px;
}
#settingsTab {
	background: #BBB;
	width: 120px;
	height: 24px;
	text-align: center;
	border-radius: 10px 10px 0 0;
	transform: translate(172px, 40vh) rotate(90deg);
}

.invisible {
	opacity: 0;
}
.small {
	font-size: 90%;
}
.hidden {
	display: none !important;
}
